body {
      font-family: Arial, sans-serif;
      text-align: center;
      background: rgb(255,255,240);
      background: linear-gradient(90deg, rgba(255,255,240,1) 0%, rgba(255,255,240,1) 5%, rgba(199,181,163,1) 38%, rgba(85,205,225,1) 100%);
    }
    h1 {
      color: #333;
    }
    input[type="number"] {
      width: 60px;
      padding: 5px;
      font-size: 16px;
    }
    button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
      margin: 10px;
    }
    button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
    #timerDisplay {
      font-size: 24px;
    }
    #timerValue {
      color: #e74c3c;
      font-weight: bold;
    }
    .countd{
        margin: 50px;
        background-color:#6ddaf0;
        padding: 20px;
        border-radius: 10px; 
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);    
    }
    @media (max-width: 600px)
    {
  .countd {
    max-width: 90%;
    padding: 43px;
  }
  button {
    font-size: 14px;
  }
}
@media (max-width: 400px)
{
  .countd {
    padding: 30px;
  }
}
